<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532731064289-6938sr9bjad8d1mpsp3baor6v2jg771f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532731064289-6938sr9bjad8d1mpsp3baor6v2jg771f</string>
	<key>API_KEY</key>
	<string>AIzaSyC3RJSYzvz40r_AzNBdGMzF99xKzK2fPhI</string>
	<key>GCM_SENDER_ID</key>
	<string>532731064289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moip</string>
	<key>PROJECT_ID</key>
	<string>vicleco-moip-man-p</string>
	<key>STORAGE_BUCKET</key>
	<string>vicleco-moip-man-p.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532731064289:ios:f60e461de9d922369e6ca0</string>
</dict>
</plist>